#navbar{
	width: 100%;
	height: 70px;
	position: fixed;
}
.p1 {
	width: 55%;
	background-image: url("data (3).jpg");
	background-repeat: no-repeat;
	background-size: 1000px;
	padding: 10px;
	-moz-box-shadow: 0 0 10px #777777;
	-webkit-box-shadow: 0 0 10px #777777;
	box-shadow: 0 0 50px #777777;
	border-radius: 30px;
	
}
button {
	background-color:#66ff66;
	border-radius: 12px;
	border: 1px solid #009933;
	color: #0a0a0f ;													
	padding:5px 25px;
	text-align:center;
	display: inline-block;
	font-size: 16px;
}
body {
	background-image: url("purs.jpg");
	background-size: 1600px;
	background-attachment: fixed;
	margin: 10px;
	padding: 2px;
}
form {
	margin:20px;
	
}
